a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}
.navbar-brand{
    font-size: 2rem;
    font-weight: bold;
    color: blueviolet;
}
.ellipsis-div p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}